@media print {
    main section {
        margin-inline: 1em !important;
        margin-block: 0 !important;
    }

    #side_panel {
        display: flex;
        width: min-content !important;
        position: relative !important;
        justify-content: flex-start !important;
        /* margin-inline: auto !important; */
        inset-inline: 0 !important;
    }

    header.passed {
        reset: all;
    }

    header p {
        display: none;
    }

    header {
        position: relative;
        top: 0 !important;
        height: fit-content !important;
    }

    header h1 {
        font-size: xx-large !important;
    }

    a {
        color: unset;
        width: 0;
    }

    .contact ul {
        display: flex !important;
        flex-direction: row !important;
        padding: 0;
        margin-block: 0;
        flex-wrap: wrap;
    }
        
   .contact ul li {
        line-height: 1rem !important;
        width: max-content !important;
        padding: 1em;
    }

    main {
        display: block !important;
    }

    a::after {
        content: ": " attr(href);
    }

    header, header.passed {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }

    #download {
        display: none;
    }
}

#download {
    position: absolute;
    right: 1em;
    bottom: 1em;
    text-align: center;
}

#download i {
    color: white;
}

:root,html {
    font-family: "Geneva";
    color: #2e3845 !important;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    position: relative;
}

#main-content {
    position: relative;
    font-size: 1rem !important;
    min-height: 100%;
    height: 100%;
}

header {
    background-color: #2e3845;
    position: sticky;
    top: 0;
    height: 8em;
    z-index: 1;
    text-align: center;
    color: white;
    padding-block: 1em 0.5em;
    transition: all 0.15s linear;
}

header h1 {
    margin: 0;
    transition: all 0.1s linear;
}

header.passed {
    height: 3em;
}

header.passed h1{
    height: fit-content;
    font-size: xx-large;
}

header.passed p {
    opacity: 0;
}

:is(section, article), #summary ul li {
    min-height: auto !important;
}

.display-4 {
    font-size: xx-large !important;
}

ul {
    list-style-type: none;
}

#main-content ul li::before {
    content: "• ";
    margin-left: -1em;
    color: #acb2b9;
}

.navbar {
    margin: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    display: block;
    height: 10px;
    position: fixed !important;
    top: 0;
    width: 100%;
    padding: 5px;
    z-index: 20;
    display: none;
}

.navbar:hover {
    height: 50px;
    display: inline;
}


.navbar > ul {
    opacity: 0 !important;
    transition: opacity .75s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 3rem;
}

.navbar:hover > ul {
    opacity: 1 !important;
}

.navbar > ul > li {
    display: inline;
}

li {
    line-height: 2rem !important;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0.08em;
    color: #2e3845;
}

#side_panel {
    margin-right: 2em;
    position: sticky;
    width: 15%;
    min-width: 10em;
    display: flex;
    top: 0;
    justify-content: center;
}

#side_panel > * {
    margin-top: 2em;
}

.contact ul {
    position: relative;
    display: block;
    position: sticky;
    top: 10em;
}

.contact li > i {
    margin-right: 0.5em;
}

.name {
    font-size:  3em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

hr {
    border-top: none;
    border-bottom: none;
    margin-left: -0.5em;
    margin: 0;
    border-radius: 50%;
}

#summary ul {
    padding: 0;
    margin: 0;
}

 /* {
    margin-left: -1.05em;
    padding-left: 1.05em;
} */

#summary ul li::before,
article::before {
    position: relative;
    top: 0.15em;
    content: "• ";
    font-size: 1.5em;
    margin-left: -1.05em;
    color: #2e3845;
}

#main-content > section {
    padding-left: 1em;
    position: relative;
}

#main-content > section::before {
    content: '';
    position: absolute;
    left: -0.165em;
    height: 100%;
    border: 1.5px solid #2e3845;
    border-radius: 99px;
}

i {
    color: #2e3845;
}